/* ----------- Custom fonts ----------- */

@font-face {
  font-family: 'Crimson Text';
  src: url(http://fonts.googleapis.com/css?family=Crimson+Text);
  font-family: 'Lato';
  src: url(http://fonts.googleapis.com/css?family=Lato);
}

/* ------------- Links ------------ */

a:link, a:visited {
  font-family: 'Lato';
  color: black;
  text-decoration: none;
  border-bottom: 2px solid #006b5b;
}
a:hover {
  text-decoration: none;
  border-bottom: 4px solid #006b5b;
}

#image-link {
  text-decoration: none;
}
a#image-link {
  border: 0 none;
  text-decoration: none;
}

/* ----------- Index ----------- */

html {
  height: 100%;
}

body {
  background-image: url(Wallpaper.jpg);
  background-repeat: repeat;
  background-size: cover;
  z-index: -1;
  height: 100%;
}

.main {
  height: 100%;
  width: 100%;
  display: table;
}

.wrapper {
  display: table-cell;
  height: 100%;
  vertical-align: middle;
}

.catlogo {
  background-image: url(MG-Mobile-Logo.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  height: 280px;

}

.frontpage {
}

.frontpage h2 {
  color: black;
  font-family: 'Lato';
  font-size: 1.2em;
  font-weight: bolder;
  margin: 10px auto 15px auto;
  padding-top: 0.5%;
  text-decoration: none;
}


/* -------------- SVGs -------------- */

.footerlogos {
  display: table;
  margin: 0 auto;
}

.footerlogos svg {
  width: 40px;
  height: 40px;
}

.footerlogos a:hover {
  text-decoration: none;
}

.footersvg {
  fill: #000000;
}

.footersvg:hover {
  fill: #006b5b;
}

/* -------------- Headings & Lists -------------- */

ul {
    margin-top: 30px;
}

ul li {
  font-family: 'Crimson Text';
  font-size: 16px;
  text-align: left;
  margin-bottom: 10px;
  line-height: 1.2em;
}

h1 {
  color: black;
  font-family: 'Lato';
  font-size: 40px;
  text-align: center;
  margin: 0 auto;
  padding: 20px 0 25px 0;
}

h2 {
  color: black;
  font-family: 'Lato';
  font-size: 30px;
  text-align: center;
  margin: 0 auto;
}

h3 {
  color: black;
  font-weight: bold;
  font-family: 'Crimson Text';
  font-size: 20px;
  margin: 30px 0 -15px 0;
}

h4 {
  color: black;
  font-family: 'Crimson Text';
  font-size: 20px;
  margin: 20px 0 10px 0;
  line-height: 1.1em;
}

p {
  font-family: 'Crimson Text';
  font-size: 18px;
  line-height: 1.2em;
}


/* -------------- Secondary pages ------------- */

.secondpage {
  background-image: url(Herringbone-wallpaper2.jpg);
  background-repeat: repeat;
  background-size: cover;
}

.about {
  width: 80%;
  margin: 0 auto;
}

.img-circle {
  display: block;
  border-radius: 50%;
  width: 150px;
  height: 150px;
  margin: 0 auto;
}

.research {
  width: 80%;
  margin: 0 auto;
}

.research h3 {
  color: black;
  font-family: 'Lato';
  font-size: 28px;
  margin: 30px 0 -2px 0;
}

.teaching {
  width: 80%;
  margin: 0 auto;
}

.teaching h3 {
  color: black;
  font-family: 'Lato';
  font-size: 28px
  margin: 30px 0 -2px 0;
}

.teaching h4 {
  color: black;
  font-family: 'Crimson Text';
  font-size: 22px;
  text-align: left;
  text-decoration: underline;
  margin: 30px 0 -10px 0;
}


/* -------------- Media Qs ------------- */

/* ---- iPhone 4, 4S ---- */
/* Portrait */
@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 1)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
    .catlogo {
      background-image: url(MG-Mobile-Logo.png);
      height: 220px;
    }
    .footerlogos {
      display: table;
      margin: 0 auto;
    }
}

/* Landscape */
@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 1)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {
    .catlogo {
      background-image: url(MG-Mobile-Logo.png);
      height: 280px;
    }
    .footerlogos {
      display: table;
      margin: 0 auto;
    }
    h4 {
      font-size: 26px;
      margin: 20px 0 10px 0;
      line-height: 1.3em;
    }
    ul li {
      font-size: 18px;
      text-align: left;
      margin-bottom: 10px;
      line-height: 1.2em;
    }
    .teaching h4 {
      font-size: 26px;
      margin: 30px 0 -10px 0;
    }
}

/* ---- iPhone 5, 5S ---- */

/* Portrait */
@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 1)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
    .catlogo {
      background-image: url(MG-Mobile-Logo.png);
      height: 220px;
    }
}


/* Landscape */
@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 1)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {
    .catlogo {
      background-image: url(MG-Mobile-Logo.png);
      height: 220px;
    }
    .footerlogos {
      display: table;
      margin: 0 auto;
    }
    h4 {
      font-size: 26px;
      margin: 20px 0 10px 0;
      line-height: 1.3em;
    }
    ul li {
      font-size: 18px;
      text-align: left;
      margin-bottom: 10px;
      line-height: 1.2em;
    }
    .teaching h4 {
      font-size: 26px;
      margin: 30px 0 -10px 0;
    }
}

/* ---- iPhone 6 ---- */

/* Portrait */
@media only screen
  and (min-device-width: 375px)
  and (max-device-width: 667px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
    .catlogo {
      height: 230px;
    }
}

/* Landscape */
@media only screen
  and (min-device-width: 375px)
  and (max-device-width: 667px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {
    .catlogo {
      background-image: url(MG-Mobile-Logo.png);
      height: 300px;
      margin-top: 20px;
    }
    .frontpage h2 {
      font-size: 1.4em;
      margin: 20px auto 15px auto;
    }
    .footerlogos {
      display: table;
      margin: 0 auto 20px;
    }
    p {
      font-size: 22px;
    }
    h3 {
      font-size: 26px;
      margin: 30px 0 -15px 0;
    }
    h4 {
      font-size: 26px;
      margin: 20px 0 10px 0;
      line-height: 1.3em;
    }
    ul li {
      font-size: 20px;
      text-align: left;
      margin-bottom: 10px;
      line-height: 1.2em;
    }
    .teaching h4 {
      font-size: 28px;
      margin: 30px 0 -10px 0;
    }
}


/* ---- iPhone 6+ ---- */

/* Portrait */
@media only screen
  and (min-device-width: 414px)
  and (max-device-width: 736px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: portrait) {
    .catlogo {
      height: 280px;
    }
    .frontpage h2 {
      font-size: 1.5em;
      margin: 20px auto 15px auto;
    }
    p {
      font-size: 20px;
    }
    h3 {
      font-size: 22px;
      margin: 30px 0 -15px 0;
    }
    .teaching h4 {
      font-size: 22px;
      margin: 30px 0 -10px 0;
    }
}

/* Landscape */
@media only screen
  and (min-device-width: 414px)
  and (max-device-width: 736px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: landscape) {
    .catlogo {
      background-image: url(MG-Mobile-Logo.png);
      height: 320px;
      margin-top: 30px;
    }
    .frontpage h2 {
      font-size: 1.5em;
      margin: 20px auto 15px auto;
    }
    .footerlogos {
      display: table;
      margin: 0 auto 30px;
    }
    p {
      font-size: 22px;
    }
    h3 {
      font-size: 26px;
      margin: 30px 0 -15px 0;
    }
    h4 {
      font-size: 26px;
      margin: 20px 0 10px 0;
      line-height: 1.3em;
    }
    ul li {
      font-size: 18px;
      text-align: left;
      margin-bottom: 10px;
      line-height: 1.2em;
    }
    .teaching h4 {
      font-size: 28px;
      margin: 30px 0 -10px 0;
    }
}

/* ---- iPad mini, iPad 1 and 2 ---- */

/* Portrait */
@media only screen
  and (min-device-width: 768px)
  and (max-device-width: 1024px)
  and (orientation: portrait)
  and (-webkit-min-device-pixel-ratio: 1) {
    .catlogo {
      background-image: url(MG-Mobile-Logo.png);
      height: 400px;
      margin: 28% 0 0 0;
    }
    .frontpage h2 {
      font-size: 2.0em;
      margin: 20px auto 15px auto;
    }
    .footerlogos {
      display: table;
      margin: 0 auto;
      padding-bottom: 8%;
    }
    .footerlogos svg {
      width: 60px;
      height: 60px;
    }
    p {
      font-size: 28px;
    }
    h1 {
      font-size: 50px;
    }
    h2 {
      font-size: 36px;
    }
    h3 {
      font-size: 30px;
      margin: 30px 0 -30px 0;
    }
    h4 {
      font-size: 26px;
      margin: 20px 0 10px 0;
      line-height: 1.3em;
    }
    .research h3 {
      font-size: 36px;
    }
    ul li {
      font-size: 22px;
      text-align: left;
      margin-bottom: 10px;
      line-height: 1.2em;
    }
    .teaching h3 {
      font-size: 30px
      margin: 30px 0 -12px 0;
    }
    .teaching h4 {
      font-size: 28px;
      margin: 30px 0 -10px 0;
    }
}

/* Landscape */
@media only screen
  and (min-device-width: 768px)
  and (max-device-width: 1024px)
  and (orientation: landscape)
  and (-webkit-min-device-pixel-ratio: 1) {
    .catlogo {
      background-image: url(MG-Logo.png);
      height: 300px;
      margin: 14% 0 0 0;
    }
    .frontpage h2 {
      font-size: 2.0em;
      margin: 20px auto 15px auto;
    }
    .footerlogos {
      display: table;
      margin: 0 auto;
      padding-bottom: 8%;
    }
    .footerlogos svg {
      width: 60px;
      height: 60px;
    }
    p {
      font-size: 28px;
    }
    h1 {
      font-size: 50px;
    }
    h2 {
      font-size: 36px;
    }
    h3 {
      font-size: 30px;
      margin: 30px 0 -30px 0;
    }
    h4 {
      font-size: 26px;
      margin: 20px 0 10px 0;
      line-height: 1.3em;
    }
    .teaching h3 {
      font-size: 30px
      margin: 30px 0 -12px 0;
    }
    .teaching h4 {
      font-size: 28px;
      margin: 30px 0 -10px 0;
    }
    ul li {
      font-size: 26px;
    }
}

/* ---- iPad 3 and 4 ---- */

/* Portrait */
@media only screen
  and (min-device-width: 768px)
  and (max-device-width: 1024px)
  and (orientation: portrait)
  and (-webkit-min-device-pixel-ratio: 2) {
    .catlogo {
      background-image: url(MG-Mobile-Logo.png);
      height: 400px;
      margin: 28% 0 0 0;
    }
    .frontpage h2 {
      font-size: 2.0em;
      margin: 20px auto 15px auto;
    }
    .footerlogos {
      display: table;
      margin: 0 auto;
      padding-bottom: 8%;
    }
    .footerlogos svg {
      width: 60px;
      height: 60px;
    }
    p {
      font-size: 28px;
    }
    h1 {
      font-size: 50px;
    }
    h2 {
      font-size: 36px;
    }
    h3 {
      font-size: 30px;
      margin: 30px 0 -30px 0;
    }
    h4 {
      font-size: 30px;
    }
    .research h3 {
      font-size: 36px;
    }
    ul li {
      font-size: 26px;
    }
    .teaching h3 {
      font-size: 30px
      margin: 30px 0 0px 0;
    }
    .teaching h4 {
      font-size: 28px;
      margin: 30px 0 -10px 0;
    }
}

/* Landscape */
@media only screen
  and (min-device-width: 768px)
  and (max-device-width: 1024px)
  and (orientation: landscape)
  and (-webkit-min-device-pixel-ratio: 2) {
    .catlogo {
      background-image: url(MG-Logo.png);
      height: 300px;
      margin: 14% 0 0 0;
    }
    .frontpage h2 {
      font-size: 2.0em;
      margin: 20px auto 15px auto;
    }
    .footerlogos {
      display: table;
      margin: 0 auto;
      padding-bottom: 8%;
    }
    .footerlogos svg {
      width: 60px;
      height: 60px;
    }
    p {
      font-size: 28px;
    }
    h1 {
      font-size: 50px;
    }
    h2 {
      font-size: 36px;
    }
    h3 {
      font-size: 30px;
      margin: 30px 0 -30px 0;
    }
    .research h3 {
      font-size: 36px;
    }
    h4 {
      font-size: 30px;
    }
    ul li {
      font-size: 26px;
    }
    .teaching h3 {
      font-size: 30px
      margin: 30px 0 0px 0;
    }
    .teaching h4 {
      font-size: 32px;
      margin: 40px 0 -10px 0;
    }
}

/* ---- Laptops & Desktops ---- */
@media screen
  and (min-device-width: 1200px) {
    .catlogo {
      background-image: url(MG-Logo.png);
      height: 400px;
    }
    .frontpage h2 {
      font-size: 2.2em;
      margin: 20px auto 15px auto;
    }
    .footerlogos {
      display: table;
      margin: 0 auto;
    }
    .footerlogos svg {
      width: 60px;
      height: 60px;
    }
    .about {
      width: 60%;
    }
    .research {
      width: 60%;
    }
    .teaching {
      width: 60%;
    }
    p {
      font-size: 28px;
    }
    h1 {
      font-size: 50px;
    }
    h2 {
      font-size: 36px;
    }
    h3 {
      font-size: 30px;
      margin: 30px 0 -30px 0;
    }
    .research h3 {
      font-size: 36px;
    }
    h4 {
      font-size: 28px;
    }
    ul li {
      font-size: 26px;
    }
    .teaching h3 {
      font-size: 30px
      margin: 30px 0 0px 0;
    }
    .teaching h4 {
      font-size: 32px;
      margin: 50px 0 -10px 0;
    }
}
